<style>
  
</style>

<div>
    <div ng-model='time'>
        TIME IS :{{time}}
    </div>
    <br>
    {{cq.qno}}
    {{cq.questionName}}
    <br>
    <input type='radio' value='{{cq.option1}}' ng-model='answer' ng-change='nextq(answer)'>
    {{cq.option1}}
    <br>
    <input type='radio' value='{{cq.option2}}' ng-model='answer' ng-change='nextq(answer)'>
    {{cq.option2}}
    <br>
    <input type='radio' value='{{cq.option3}}' ng-model='answer' ng-change='nextq(answer)'>
    {{cq.option3}}
    <br>
    <input type='radio' value='{{cq.option4}}' ng-model='answer' ng-change='nextq(answer)'>
    {{cq.option3}}
    <br>
    <br>
    SCORE IS :
    {{score}}
    <br>
    <button ng-click='nextques()'>NEXT</button>
 </div>